.side-bar
  .user-name
    .top-items
      .name masa
      .icons
        = link_to "#", class: "icons-btn" do
          = icon('fa','cog')
        = link_to "#", class: "icons-btn setting" do
          = icon('far', 'edit')

  .group-list
    %p.group-name
      techcamp
    %p.message
      まだメッセージがありません

    %p.group-name
      techcamp
    %p.message
      まだメッセージがありません

    %p.group-name
      techcamp
    %p.message
      まだメッセージがありません
